:root {
  font-size: 62.5%; /* root font size of 10px */
  background-color: black;
  --light: rgb(254, 233, 189);
  --case-light: #fffaee;
  --dark: #1b1a27;
  --green: #00df12;
  --off-green: rgba(41,125,67);
  --subtitle-color: #969696;
  --medium-font-weight: 500;
  --nav-font-weight: 600;
  --transition-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* from HYPERPLEXED */
  --g1: #a1f698;
  --g2: #f698d1;
}

@font-face {
  font-family: "Rubik";
  src: url(/fonts/Rubik-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Karla";
  src: url(/fonts/Karla-VariableFont_wght.ttf);
}

@font-face {
  font-family: "Lobster";
  src: url(/fonts/Lobster-Regular.ttf);
}

@keyframes slideOutLeft {
  0% {
    width: 100%;
  }
  50% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

body {
  margin: 0;
  font-family: "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
  background-color: var(--dark);
}

h2 {
  font-size: 4.8rem;
  margin: 0;
}

h3 {
  font-size: 3.2rem;
  margin: 0;
}

h4 {
  font-size: 2.4rem;
  line-height: 32px;
  margin: 0;
}

h5 {
  font-size: 1.8rem;
  margin: 0;
}

h6 {
  font-size: 1.4rem;
  font-weight: var(--medium-font-weight);
  color: var(--subtitle-color);
}

p {
  font-size: 1.6rem;
  line-height: 30px;
  margin: 0;
  font-family: "Karla", "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul > a {
  text-decoration: none;
}

nav li {
  list-style: none;
}

footer li {
  list-style: none;
}

/* Navigation */
nav {
  background-color: black;
  font-weight: var(--nav-font-weight);
  width: 90%;
  height: 64px;
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  position: fixed;
  z-index: 5;
  transition: top .2s;
  -moz-transition: top .2s;
}

.brand {
  display: flex;
  align-items: center;
}

.brand img {
  width: 48px;
}

nav > ul {
  height: 100%;
  display: flex;
  justify-content: right;
  margin: 0;
}

.link-container {
  padding: 0 40px;
  font-size: 2.4rem;
  display: inline;
}

a:last-child .link-container {
  padding-right: 0px;
}

nav ul a {
  height: 100%;
  display: flex;
  align-items: center; /* centers on y */
  justify-self: center;
  color: white;
}

nav ul a:hover {
  transition: ease .3s;
  -moz-transition: ease .3s;
  color: var(--subtitle-color);
}

.active {
  border-bottom: 2px solid white;
}

/* Colorful play hover effect */
#play:hover .letter:nth-child(1) {
  color: red;
  transition: ease .3s;
  -moz-transition: ease .3s;
}

#play:hover .letter:nth-child(2) {
  color: orange;
  transition: ease .3s;
  -moz-transition: ease .3s;
}

#play:hover .letter:nth-child(3) {
  color: green;
  transition: ease .3s;
  -moz-transition: ease .3s;
}

#play:hover .letter:nth-child(4) {
  color: skyblue;
  transition: ease .3s;
  -moz-transition: ease .3s;
}

#hamburger {
  display: none;
}

#menu {
  display: none;
  opacity: 0;
}

/* FOOTER */
footer {
  background-color: black;
  margin: 0;
  width: 90%;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  align-items: center;  /*centers on y */
  justify-content: space-between;
}

footer h6 {
  margin: 24px 0;
}

.footer-icons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.social > a {
  color: var(--light);
  text-decoration: none;
  margin-left: 32px;
}

.social > a:first-child {
  margin-left: 0px;
}

.social > a:hover {
  color: var(--subtitle-color);
  transition: ease .3s;
  -moz-transition: ease .3s;
}

/* HERO */
#hero {
  height: 100vh;
}

.side {
  height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;

  overflow: hidden;
  position: absolute;
}

.side .title {
  color: white;
  font-size: 8vw;
  margin: 0 15vw;
  width: 70vw;
}

.fancy {
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
  line-height: .8em;
}

#left-side {
  background-color: var(--light);
  z-index: 2;
  /* Starting animation */
  animation-name: slideOutLeft;
  -moz-animation-name: slideOutLeft;
  animation-timing-function: var(--transition-function);
  -moz-animation-timing-function: var(--transition-function);
  animation-delay: .2s;
  -moz-animation-delay: .2s;
  animation-duration: 2.5s;
  -moz-animation-duration: 2.5s;
  width: 100%;
  height: 100vh;
}

#left-side .title {
  color: var(--dark);
}

#left-side .fancy {
  color: var(--off-green);
}

#right-side {
  background-color: var(--dark);
  height: 100vh;
}

#right-side .fancy {
  color: var(--green);
}

/* Work Section */
#work {
  padding: 144px 0;
  background-color: var(--dark);
}

.work-item {
  margin: 0 72px 120px;
}

.work-item:last-child {
  margin-bottom: 0;
}

.work-thumbnail {
  overflow: hidden;
  cursor: pointer;
}

.work-thumbnail img {
  transition: var(--transition-function) 1s;
  -moz-transition: var(--transition-function) 1s;
  transform: scale(1);
  -moz-transform: scale(1);
}

.work-thumbnail img:hover {
  transition: var(--transition-function) 1s;
  -moz-transition: var(--transition-function) 1s;
  transform: scale(1.05);
  -moz-transform: scale(1.05);
}

.fit {
  width: 100%;
  height: 70vh;
  object-fit: cover;
}

.display {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-column-gap: 16px;
}

.work-content {
  margin-top: 32px;
}

.work-info {
  grid-column-start: 1;
  grid-column-end: span 6;
  padding-left: 32px;
}

.work-caption {
  color: var(--subtitle-color);
  margin-top: 8px;
}

.work-description {
  grid-column-start: 8;
  grid-column-end: span 5;
  margin: 0;
  align-self: center;
  font-weight: 600;
  color: var(--subtitle-color);
  padding-right: 32px;
}

/* ABOUT PAGE */
#about {
  margin: 0 144px;
  padding: 144px 0;
}

.about-image {
  grid-column-start: 1;
  grid-column-end: span 6;
}

.about-image-fit {
  width: 100%;
}

.about-content {
  grid-column-start: 9;
  grid-column-end: span 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-description {
  margin-top: 16px;
  font-family: "Karla";
  color: var(--subtitle-color);
  line-height: 30px;
}

#values {
  margin: 0 144px;
}

.value-item {
  padding: 144px 72px;
}

.value-item p {
  font-size: 2.4rem;
  line-height: 48px;
}

.neon {
  text-align: center;
  letter-spacing: 5px;
  font-size: 13rem;
  font-weight: 400;
  margin-bottom: 56px;
}

.value-item:nth-child(1) .neon {
  color: #FFD5FF;
  text-shadow: 
    1px 0px 4px #FFD5FF, 
    2px 0px 4px #FFD5FF, 
    3px 0px 4px #FFD5FF, 
    2px 0px 3px #D42CCA, 
    2px 3px 15px #D42CCA, 
    2px 0px 15px, 
    5px 0px 125px, 
    20px 0vw 200px #D42CCA,
    40px 0vw 200px #D42CCA;
}

.value-item:nth-child(2) .neon {
  color: #f3fe00;
  text-shadow: 
    1px 0px 4px #f3fe00, 
    2px 0px 4px #f3fe00, 
    3px 0px 4px #f3fe00, 
    2px 0px 3px #dce52e, 
    2px 3px 15px #dce52e, 
    2px 0px 15px, 
    5px 0px 125px, 
    20px 0vw 200px #dce52e,
    40px 0vw 200px #dce52e;
}

.value-item:nth-child(3) .neon {
  color: #01ffff;
  text-shadow: 
    1px 0px 4px #01ffff, 
    2px 0px 4px #01ffff, 
    3px 0px 4px #01ffff, 
    2px 0px 3px #2fe6e6, 
    2px 3px 15px #2fe6e6, 
    2px 0px 15px, 
    5px 0px 125px, 
    20px 0vw 200px #2fe6e6,
    40px 0vw 200px #2fe6e6;
}

/* Flicker animation */
@keyframes flicker {
  0%, 19.999%, 22%, 62.999%, 64%, 64.999%, 70%, 100% {
    opacity: .99;
  }
  20%, 21.999%, 63%, 63.999%, 65%, 69.999% {
    opacity: .3;
  }
}

.flicker-fast {
  animation: flicker 1s linear infinite;
}

.flicker-slow {
  animation: flicker 3s linear infinite;
}

/* INSPIRATION */
#inspiration-header {
  padding: 208px 144px;
}

#inspiration-header > h2 {
  text-align: center;
  margin-bottom: 36px;
  line-height: 72px;
}

#inspiration {
  padding: 0 144px;
}

.inspiration-item {
  margin-bottom: 120px;
}

.inspiration-thumbnail {
  overflow: hidden;
  cursor: pointer;
}

.inspiration-thumbnail img {
  transition: var(--transition-function) 1s;
  transform: scale(1);
  /* object-fit: contain; */
}

.inspiration-thumbnail img:hover {
  transition: var(--transition-function) 1s;
  transform: scale(1.05);
}

.inspiration-content {
  margin-top: 32px;
  padding-left: 32px;
}

@keyframes background-pan {
  from {
    background-position: 0%, center;
  }

  to {
    background-position: -200%, center;
  }
}

/* PLAYGROUND */
#playground-header {
  padding-top: 64px;
  height: 100vh;
  width: 100vw;
}

#tiles {
  height: 100vh;
  width: 100vw;
  z-index: 2;

  animation: background-pan 10s linear infinite;
  background: linear-gradient(to right, var(--g1), var(--g2), var(--g1));
  background-size: 200%;
  
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
}

.tile {
  position: relative;
  cursor: pointer;
}

.tile:before {
  cursor: pointer;
  background-color: rgb(20, 20, 20);
  content: "";
  position: absolute;
  inset: .5px;
  transition: ease;
}

.tile:hover:before {
  transition: ease, .2s;
  opacity: .6;
}

#playground-header h1 {
  font-size: 5vw;
  margin: 0px;
  transition: opacity 500ms ease;
  z-index: 3;
  pointer-events: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

#icon {
  font-size: 50vmin;
  opacity: 0;
  transition: opacity 400ms ease;
  z-index: 1;
  pointer-events: none;
  color: #cecece;
}

#playground-header .fancy {
  color: #f698a2;
}

.centered {
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

.toggled > h1 {
  opacity: 0;
}

#playground-header.toggled > #icon {
  opacity: .4;
}

#playground {
  padding: 64px 72px;
}

.playground-item {
  grid-column: 1 / span 6;
  display: flex;
  flex-direction: column;
}

.playground-item h3, .playground-item-right h3 {
  margin-top: 16px;
}

.playground-item-right {
  display: flex;
  flex-direction: column;
  grid-column: 7 / span 6;
}

/** CASE STUDIES */
#case-header {
  background-color: var(--dark);
}

.header-content {
  margin: 64px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-content p {
  font-size: 1.8rem;
  line-height: 3.2rem;
  max-width: 70ch;
}

.header-content h5 {
  padding: 16px 0;
  color: var(--subtitle-color);
  line-height: 3.2rem;
  font-weight: 400;
}

.case-section {
  padding: 64px 72px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-section h2 {
  margin-bottom: 16px;
}

.case-section h3 {
  margin-bottom: 8px;
}

.case-section p {
  font-size: 1.8rem;
  line-height: 3.2rem;
  max-width: 70ch;
}

.case-section > div,
.case-section > img {
  margin-bottom: 48px;
}

.case-section > div:last-child {
  margin-bottom: 0px;
}

.case-section > img:last-child {
  margin-bottom: 0;
}

.case-section ul {
  padding-left: 16px;
}

.case-section li {
  font-size: 1.6rem;
  line-height: 3.8rem;
}

.case-section img {
  max-width: 80%;
}

.case-section:nth-child(even),
.case-section:nth-child(even) a {
  background-color: var(--case-light);
  color: var(--dark);
}

.case-section:nth-child(odd),
.case-section:nth-child(odd) a {
  background-color: var(--dark);
  color: white;
}

.div-before-img {
  margin-bottom: 16px !important;
}

/* ALT FORMAT */
.case-section-alt {
  padding: 128px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-section-alt p {
  font-size: 1.8rem;
  line-height: 3.2rem;
  max-width: 70ch;
}

.case-section-alt ul {
  padding-left: 16px;
}

.case-section-alt li {
  font-size: 1.6rem;
  line-height: 3.8rem;
}

.case-section-alt:nth-child(even),
.case-section-alt:nth-child(even) a {
  background-color: var(--case-light);
  color: var(--dark);
}

.case-section-alt:nth-child(odd),
.case-section-alt:nth-child(odd) a {
  background-color: var(--dark);
  color: white;
}

.left-card {
  grid-column: 1 / span 6;
}

div[class$="card"] img {
  margin-top: 24px;
  width: 100%;
  max-height: 650px;
  object-fit: contain;
}

div[class$="card"] p {
  color: var(--subtitle-color);
  margin: 16px 0;
}
/* selects last 2 cards */
div[class$="card"]:nth-child(-n + 2) {
  padding-bottom: 56px;
}

.right-card {
  grid-column: 7 / span 6;
}

.empathy-quote {
  grid-column: 1 / span 12;
  background-color: white;
  filter: drop-shadow(2px 4px 6px #000);
  margin-top: 40px;
  padding: 56px;
}

.empathy-quote img {
  grid-column: 10 / span 3;
  width: 100%;
}

.quote {
  grid-column: 1 / span 9;
  grid-row: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

#problem-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 36px;
}

#problem-statement h3 {
  font-weight: 400;
  line-height: 4.8rem;
  text-align: center;
}

.section-img {
  grid-column: 2 / span 10;
  width: 100%;
  max-height: 650px;
  object-fit: contain;
  margin-top: 32px;
}

.section-img-carousel {
  grid-column: 2 / span 10;
  margin-top: 32px;
}

.section-img-carousel img {
  width: 100%;
  display: none;
  max-height: 600px;
  object-fit: contain;
}

.arrow-dots {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-top: 16px;
  gap: 8px;
}

.arrow-dots button {
  font-size: 2.4rem;
  cursor: pointer;
  border: none;
}

.case-section:nth-child(odd) .arrow-dots button {
  color: var(--case-light);
  background-color: var(--dark);
}

.case-section:nth-child(even) .arrow-dots button {
  color: var(--dark);
  background-color: var(--case-light);
}

.dot {
  cursor: pointer;
  margin: 0 4px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}

/* DARK BG */
.case-section:nth-child(odd) .dot {
  background-color: var(--case-light);
}

/* LIGHT BG */
.case-section:nth-child(even) .dot {
  background-color: var(--dark);
}

.case-section:nth-child(odd) .active-carousel,
.case-section:nth-child(even) .active-carousel {
  background-color: var(--subtitle-color);
}

[class^=case-img] {
  text-align: center;
}

[class^=case-img] img {
  width: 100%;
  max-height: 650px;
  object-fit: contain;
}

.other-pages {
  margin-top: 64px;
}

.other-pages h2 {
  margin-bottom: 16px;
}

.other-pages-img {
  display: flex;
  flex-direction: column;
}

.other-pages-img img {
  align-self: center;
}

#heuristic {
  display: flex;
  flex-direction: column;
}

#heuristic img {
  max-height: 150px;
  margin-bottom: 16px;
  align-self: center;
}

#heuristic h5 {
  margin-bottom: 8px;
  line-height: 2.8rem;
}

#heuristic p {
  max-width: 34ch;
}

.left-right-images-alt {
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.left-right-images-alt {
  margin-top: 24px;
}

.left-right-images-alt div {
  display: flex;
  flex-direction: column;
}

.left-right-images-alt div img {
  align-self: center;
}

.left-right-images-alt div > h3 {
  margin-bottom: 16px;
  text-align: center;
}

.left-right-images {
  display: grid;
  grid-column: 1 / span 12;
}

.ab-image {
  margin-bottom: 32px;
}

.case-img-left {
  grid-column: 1 / span 6;
}

.case-img-right {
  grid-column: 7 / span 6;
}

.case-img-container {
  grid-column: 2 / span 10;
  display: flex;
  justify-content: space-between;
}

.case-img-container-lg {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.final-container {
  grid-column: 1 / span 12;
  padding-top: 48px;
}

.final-images {
  position: relative;
}

.final-img {
  grid-column: 1 / span 6;
  grid-row: 1;
  width: 100%;
}

.final-img img {
  width: 100%;
}

.screen-description {
  grid-column: 7 / span 6;
  top: 104px;
  align-self: flex-start;
  padding-top: 40px;
  padding-bottom: 128px;
  padding-left: 40px;
  position: sticky;
}

.screen-description h3 {
  text-align: center;
}

.screen-description p {
  text-align: left;
}

.screen-description h3 {
  margin-bottom: 16px;
}

.case-paragraph {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.case-paragraph-alt {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.case-paragraph-alt h3 {
  align-self: flex-start;
}

.case-paragraph-alt:last-child {
  padding-bottom: 0;
}

.comp-analysis-takeaways {
  grid-column: 2 / span 10;
  padding: 16px;
}

.comp-analysis-takeaways h3 {
  margin-bottom: 8px;
  text-decoration: underline;
}

.comp-analysis-takeaways div:nth-child(odd) {
  grid-column: 1 / span 6;
}

.comp-analysis-takeaways div:nth-child(even) {
  grid-column: 7 / span 6;
}

.comp-analysis-takeaways div:nth-last-child(-n + 2) {
  margin-top: 16px;
}

.comp-analysis-takeaways ul {
  padding-left: 12px;
  font-size: 1.6rem;
  line-height: 2.8rem;
}

.before-after-gifs {
  grid-column: 1 / span 12;
  justify-items: end;
  margin-top: 64px;
}

.before-after-gifs img {
  width: 100%;
  height: 260px;
}

.before-after-gifs h3:first-child {
  margin-bottom: 32px;
}

.before-after-gifs h3 {
  grid-column: 1 / span 12;
  justify-self: center;
  text-align: center;
  margin-top: 8px;
}

.before {
  grid-column: 1 / span 6;
  justify-self: center;
}

.after {
  grid-column: 7 / span 6;
  justify-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.case-section ol {
  font-size: 1.8rem;
  font-family: "Karla", "Rubik", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  line-height: 3.6rem;
  margin-top: 8px;
  padding-left: 16px;
}

.takeaways {
  grid-column: 6 / span 7;
  margin: 0;
}

.takeaways p {
  margin-top: 8px;
  margin-bottom: 24px;
}

.takeaways p:last-child {
  margin-bottom: 0;
}

.graphic-images-container {
  columns: 350px 3;
  column-gap: 24px;
}

.graphic-images-container img {
  max-width: 100%;
  filter: drop-shadow(2px 4px 6px #000);
}

.graphic-images-container > * {
  margin-bottom: 24px;
}

/* TABLET */
@media only screen and (max-width: 1200px) {
  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4em;
  }

  /* NAVIGATION */
  nav {
    height: 48px;
    z-index: 4;
    padding: 0 48px;
    width: calc(100vw - 96px);
  }
  
  .brand img {
    width: 36px;
  }

  nav > ul {
    display: none;
  }

  #hamburger {
    display: block;
    position: relative;
    height: min-content;
    top: 12px;
    z-index: 1;
  }

  #hamburger input {
    display: block;
    position: absolute;
    width: 40px;
    height: 32px;
    margin: 0;
    top: -3px;
    right: -3.5px;
    cursor: pointer;
    /* turns invis and puts in front of hamburger */
    opacity: 0;
    z-index: 2;
  }

  .hamburger-icon {
    display: block;
    position: relative;
    float: right;
    clear: right;
  }

  .hamburger-icon span {
    display: block;
    width: 40px;
    height: 4px;
    margin-bottom: 6px;
    background: white;
    border-radius: 3px;
    z-index: 1;

    /* animation for clicking hamburger */
    transform-origin: 4px 0px;
    -moz-transform-origin: 4px 0px;
    transition: transform 300ms var(--transition-function),background 300ms var(--transition-function), opacity 0.4s var(--transition-function);
    -moz-transition: transform 300ms var(--transition-function),background 300ms var(--transition-function), opacity 0.4s var(--transition-function);
  }

  .hamburger-icon span:first-child {
    transform-origin: 0% 0%;
  }

  .hamburger-icon span:nth-child(2) {
    transform-origin: 0% 100%;
  }

  /* turns hamburger into x */
  .hamburger-icon input:checked ~ span {
    /* opacity: 1; */
    transform: rotate(45deg) translate(-5px, -6px);
    background: white;
  }
  /* hides middle patty */
  .hamburger-icon input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(.2, .2);
  }
  /* turns last bun other way */
  .hamburger-icon input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  @keyframes in {
    from {
      transform: translateY(100svh);
    }
    to {
      transform: translateY(0);
    }
  }
  
  @keyframes out {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(100svh);
    }
  }

  #menu {
    background: rgba(0, 0, 0, .75);
    color: white;
    position: fixed;
    z-index: 4;
    padding-top: 48px;
    height: calc(100svh - 48px);
    width: 100vw;
    animation: out 300ms var(--transition-function);
    -moz-animation: out 300ms var(--transition-function);
  }
  
  #menu.menu-shown {
    animation: in 300ms var(--transition-function);
    -moz-animation: in 300ms var(--transition-function);
  }

  .menu-content {
    width: 500px;
    max-width: 100%;
    margin: 0px auto;
    margin-top: 21.8svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 76.5%;
  }

  #menu ul {
    text-align: center;
  }

  #menu ul a {
    color: white;
    text-decoration: none;
    font-weight: var(--nav-font-weight);
    display: block;
    text-align: center;
    font-size: 4.8rem;
    width: min-content;
  }
  
  #menu ul a:hover {
    transition: ease .3s;
    color: var(--subtitle-color);
  }
  
  #menu li {
    display: flex;
    justify-content: center;
    margin-bottom: 36px;
  }

  #menu .social {
    margin: auto auto 24px;
    font-size: 2.4rem;
  }
  
  /* FOOTER */
  footer {
    padding: 0 48px;
    width: calc(100vw - 96px);
  }

  footer h6 {
    margin: 0;
  }

  .footer-icons {
    margin: 24px 0;
  }

  .fit {
    height: 50vh;
  }

  /* WORK */
  #work {
    padding: 120px 0;
  }

  .display {
    display: flex;
    flex-direction: column;
    grid-column-gap: 0px;
  }

  .work-item {
    margin: 0 48px 96px;
  }

  .work-info {
    padding-left: 0;
  }

  .work-description {
    align-self: auto;
    margin-top: 16px;
  }

  /* ABOUT */
  #about {
    margin: 0 56px;
    padding: 112px 0;
  }

  .about-image-fit {
    height: 70vh;
    object-fit: contain;
  }

  .about-content {
    margin-top: 48px;
  }

  #values {
    margin: 0;
  }

  .value-item {
    padding: 144px 56px;
  }

  .neon {
    font-size: 11rem;
    margin-bottom: 48px;
  }

  /* PLAYGROUND */
  #playground-header {
    padding-top: 48px;
  }

  #playground-header h1 {
    font-size: 7vw;
    width: 100%;
    text-align: center;
  }

  #playground {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  /* INSPIRATION */
  #inspiration-header {
    padding: 144px 64px;
  }

  #inspiration-header > h2 {
    font-size: 4rem;
    line-height: 64px;
  }

  #inspiration {
    padding: 0 48px;
  }

  .inspiration-item {
    margin-bottom: 96px;
  }

  .inspiration-content {
    margin-top: 24px;
    padding-left: 0px;
  }

  /* CASE STUDIES */
  .header-content {
    margin: 64px;
    gap: 16px;
  }

  .case-section {
    padding: 64px;
    gap: 16px;
  }

  div[class$="card"]:nth-child(-n+3) {
    padding-bottom: 36px;
  }

  div[class$="card"] p {
    margin: 8px 0;
  }

  div[class$="card"] img {
    max-height: 65vh;
  }

  [class^="case-img"] img {
    max-width: 40vw;
  }

  #problem-statement h3 {
    line-height: 3.6rem;
  }

  .empathy-quote {
    display: grid;
    padding: 40px;
    margin-top: 32px;
  }

  .quote {
    grid-column: 1 / span 8;
  }

  .empathy-quote img {
    grid-column: 9 / span 4;
  }

  .section-img {
    max-height: 60vh;
    margin-top: 16px;
  }

  [class^="case-img"] {
    margin-top: 16px;
  }

  [class^="case-img"] img {
    max-height: 70vh;
    margin-top: 8px;
  }

  .case-img-container {
    gap: 24px;
    justify-content: center;
  }

  .case-img-container-lg {
    gap: 16px;
    justify-content: center;
  }

  .comp-analysis-takeaways {
    margin-top: 8px;
    gap: 16px;
  }

  .comp-analysis-takeaways div:nth-last-child(-n+2) {
    margin-top: 0;
  }

  .before-after-gifs {
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-column-gap: 16px;
  }

  .takeaways p {
    margin-bottom: 16px;
  }

  .final-container {
    width: 85%;
    align-self: center;
    padding-top: 24px;
  }

  .screen-description {
    position: relative;
    top: auto;
    padding-top: 0;
    padding-left: 0;
    padding-bottom: 24px;
    align-self: center;
    width: 100%;
  }

  .screen-description h3 {
    max-width: none;
    margin-bottom: 16px;
    text-align: left;
  }
}

/* MOBILE and below */
@media only screen and (max-width: 768px) {
  h2 {
    font-size: 3.2rem;
  }

  h3 {
    font-size: 2em;
  }

  /* NAVIGATION */
  nav {
    padding: 0 24px;
    width: calc(100vw - 48px);
  }

  #hamburger {
    top: 13.5px;
  }

  .hamburger-icon span {
    height: 4px;
    width: 38px;
    margin-bottom: 5.5px;
  }

  .hamburger-icon input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(0, -2px);
  }

  /* FOOTER */
  footer {
    padding: 0 24px;
    width: calc(100vw - 48px);
  }

  .footer-icons {
    flex-direction: column;
    align-items: center;
  }

  .social {
    margin-top: 24px;
  }

  .fit {
    height: 30vh;
  }

  /* WORK */
  .side .title {
    margin: 0 10vw;
    font-size: 6.4rem;
    width: 80vw;
  }

  #work {
    padding: 88px 0;
  }

  .work-item {
    margin: 0 24px 56px;
  }

  .work-content {
    margin-top: 16px;
  }

  /* ABOUT */
  #about {
    margin: 0 24px;
    padding: 88px 0;
  }

  .about-image-fit {
    height: 65vh;
  }

  .neon {
    font-size: 7rem;
  }

  .value-item {
    padding: 104px 36px;
  }

  .value-item p {
    font-size: 1.8rem;
    line-height: 36px;
  }

  /* PLAYGROUND */
  #playground-header h1 {
    font-size: 9vw;
  }

  /* INSPIRATION */
  #inspiration-header {
    padding: 104px 48px;
  }

  #inspiration-header > h2 {
    font-size: 3.3rem;
    line-height: 56px;
  }

  #inspiration {
    padding: 0 24px;
  }

  .inspiration-item {
    margin-bottom: 56px;
  }

  .inspiration-content {
    margin-top: 16px;
  }

  /* CASE STUDIES */
  .header-content {
    margin: 56px;
  }

  .header-content p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .header-content h5 {
    padding-top: 8px;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .case-section {
    padding: 56px;
  }

  .case-section h2 {
    line-height: 4.2rem;
  }

  .case-section h3 {
    line-height: 3.2rem;
  }

  .case-section p {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .case-paragraph {
    gap: 8px;
  }

  .empathy-quote {
    margin-top: 16px;
    display: flex;
    gap: 24px;
    padding: 32px;
  }

  .quote {
    gap: 8px;
  }

  #problem-statement {
    gap: 16px;
  }

  #problem-statement h3 {
    font-size: 2em;
    line-height: 3.2rem;
  }

  .left-right-images {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  div[class$="card"]:nth-child(-n+3) {
    padding-bottom: 16px;
  }

  .arrow-dots {
    gap: 12px;
  }

  .arrow-dots button {
    font-size: 3.2rem;
  }

  .dot {
    width: 16px;
    height: 16px;
  }

  .section-img {
    margin-top: 8px;
  }

  .case-img-container {
    gap: 8px;
  }

  .case-img-container-lg {
    gap: 0px;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
  }

  .case-img-container-lg img {
    max-width: none;
  }

  .before-after-gifs {
    display: flex;
    margin-top: 36px;
  }

  .before-after-gifs h3 {
    margin-bottom: 16px;
  }

  .before-after-gifs h3:first-child {
    margin-bottom: 24px;
  }
  
  .before-after-gifs img {
    height: 200px;
    object-fit: contain;
  }

  .case-section ol {
    font-size: 1.6rem;
    line-height: 2.8rem;
  }

  .takeaways p {
    margin-top: 4px;
  }

  .final-container {
    width: 100%;
    padding-top: 8px;
  }

  .screen-description {
    padding-bottom: 16px;
  }

  .screen-description h3 {
    margin-bottom: 8px;
  }
}

/* Small mobile devices */
@media only screen and (max-width: 480px) {
  .neon {
    font-size: 5rem;
  }

  #inspiration-header > h2 {
    font-size: 2.4rem;
    line-height: 40px;
  }

  .case-section {
    padding: 36px;
  }

  .header-content {
    margin: 36px;
  }
}